{{#partial "content"}}
<section>
    <div class="container">
        <div class="entry-list">
        {{#each blogEntry}}
            <article>
                <h2><a href="/detail/{{ slug }}">{{ title }}</a></h2>
                <time datetime="2016-01-31 1:00">{{ date }}</a></time>
            {{#if this.tags}}
                <p class="index-tags">Tags: {{#each this.tags }}{{ this }}{{/each}}</p>
            {{/if}}
            </article>
        {{/each}}
        </div>
    </div>
</section>
{{/partial}}

{{> base.hbs}}