{% extends "layout.html" %}
{% load static from staticfiles %}
{% load article_extras %}
{% block title %}The Ronald Tribune{% endblock title %}
{% block content %}
<div class="py-3 text-center">
    <h1><img class="" src="{% static 'images/logo.png' %}" alt="python logo"/>The Ronald Tribune</h1>
    <p class="font-weight-bold">Software Developer. For Hire. <a href="http://ronaldnwilliams.com" target="on_blank">Hire Me</a></p>
</div>
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  {% featured_article 2 as featured_article %}
  <img class="d-lg-none rounded border border-white" src="{% static featured_article.image_loc %}" alt="skills" style="width: 100%;" />
  <img class="d-none d-lg-block rounded border border-white float-right" src="{% static featured_article.image_loc %}" alt="skills" style="height: 35%; width: 35%;" />
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic"><a class="text-white" href="articles/{{ featured_article.id }}">{{ featured_article.title }}</a></h1>
    <p class="lead my-3">{{ featured_article.description|truncatewords:29 }}</p>
    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
  </div>
</div>


{% for article in articles %}
{% if not forloop.counter|divisibleby:2  %}
<div class="row mb-2">
{% endif %}
  <div class="col-md-6">
    <!-- flex-md-row mb-4 box-shadow h-md-250  -->
    <div class="card w-150" style="height: 100%;">
      <img class="d-sm-none card-img-top flex-auto d-none d-lg-block" src="{% static article.image_loc %}" alt="Card image cap" style="width: 100%; max-width: 100%; max-height: 100%;  object-fit: scale-down;">
      <!-- d-flex flex-column align-items-start -->
      <div class="card-body ">
        <strong class="d-inline-block mb-2 text-primary">{{ article.subject }}</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="{% url 'article_detail' pk=article.pk %}">{{ article.title }}</a>
        </h3>
        <div class="mb-1 text-muted">{{ article.created_at }}</div>
        <p class="card-text mb-auto">{{ article.description|truncatewords:20 }}</p>
        <a href="#">Continue reading</a>
      </div>
    </div>
  </div>
{% if forloop.counter|divisibleby:2  %}
</div>
{% endif %}
{% endfor  articles %}

{% endblock content%}
